## Deliverable 2: Determine Bias of Vine Reviews

In [1]:
# Import dependencies
import pandas as pd
import os
# from path import Path

In [2]:
# 1. Read dataset into DataFrame
vine_reviews_df = pd.read_csv("data/vine_table.csv")

In [3]:
# Check DataFrame
vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3LI5TRP3YIDQL,5.0,0.0,0.0,N,Y
1,R3LGC3EKEG84PX,5.0,0.0,0.0,N,Y
2,R9PYL3OYH55QY,5.0,0.0,1.0,N,Y
3,R3PWBAWUS4NT0Q,3.0,0.0,0.0,N,Y
4,R15LYP3O51UU9E,5.0,0.0,0.0,N,Y

In [15]:
# Check count
vine_reviews_df.count()

review_id            4751577
star_rating          4751540
helpful_votes        4751540
total_votes          4751540
vine                 4751540
verified_purchase    4751540
dtype: int64

In [5]:
# 2. Filter data and create where the total_votes count is greater or equal to 20, df.loc[]
total_votes=vine_reviews_df.loc[vine_reviews_df['total_votes']>=20]

In [6]:
# Check new DataFrame
total_votes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
168,R2SHXRL6SL1GC9,3.0,25.0,26.0,N,Y
521,R2ZC033X86YOY8,5.0,25.0,26.0,N,N
761,R2736RJGCOSL80,5.0,19.0,20.0,N,Y
1163,RRY5DJ6J9BKAX,5.0,19.0,21.0,N,Y
1169,R2P4PJJ2ROTPBM,5.0,46.0,48.0,N,N
...,...,...,...,...,...,...
4751465,R290AULZDD2PG0,5.0,43.0,46.0,N,N
4751516,R2LKZ44JYVBOEO,5.0,20.0,21.0,N,N
4751544,R34DT53CZF7347,5.0,31.0,33.0,N,N
4751552,R1Z9UU2HN7TBNU,5.0,30.0,30.0,N,N
4751572,RCCO7QP25QFYU,5.0,30.0,31.0,N,N

In [7]:
# 3. Filter data for all rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%
helpful_votes_df = vine_reviews_df.loc[(vine_reviews_df['helpful_votes']/vine_reviews_df['total_votes']>=0.5)]

In [8]:
# Check DataFrame
helpful_votes_df.count()

review_id            2386770
star_rating          2386770
helpful_votes        2386770
total_votes          2386770
vine                 2386770
verified_purchase    2386770
dtype: int64

In [9]:
# 4. Retrieve all rows where a reviews was vine a 'Y' (paid)
vine_paid_reviews_df = helpful_votes_df.loc[helpful_votes_df['vine'] == 'Y']
vine_paid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
1537075,R2RZF08POZS24Y,3.0,1.0,1.0,Y,N
1755897,RL3APATHQK2NS,4.0,1.0,1.0,Y,N
1758405,RUYAP1ZCYRED7,3.0,1.0,2.0,Y,N
1760330,R1SWZLB1A4460R,2.0,1.0,2.0,Y,N
1773293,RJUAWYTKIM4V7,3.0,1.0,1.0,Y,N

In [10]:
# 5. Retrieve all rows where a reviews was vine a 'N' (unpaid)
vine_unpaid_reviews_df = helpful_votes_df.loc[helpful_votes_df['vine'] == 'N']
vine_unpaid_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
7,R3NM4MZ4XWL43Q,5.0,1.0,2.0,N,Y
9,R30L5PET7LFFDC,5.0,1.0,1.0,N,Y
10,REFRE1LEKLAF,4.0,1.0,1.0,N,Y
20,R25Z4ADMYBHR66,4.0,1.0,2.0,N,Y
23,R2SGL2ZAPGJH9I,5.0,1.0,1.0,N,N

In [31]:
# 6. Determine the following for each paid and unpaid: 
 # a.total number of reviews
 # b.the number of 5-Star Reviews
 # c.the percentage of 5-Star Reviews

In [24]:
# Total Number of Paid Reviews
paid_count=vine_paid_reviews_df["review_id"].count()
paid_count

709

In [19]:
# Total Number of Paid 5-Star Reviews
five_star_paid=vine_paid_reviews_df.loc[vine_paid_reviews_df["star_rating"]==5]["star_rating"].count()
five_star_paid

159

In [27]:
# Percentage of Paid 5-Star Reviews
paid_percentage = five_star_paid / paid_count *100
paid_percentage

22.425952045133993

In [28]:
# Total Number of UnPaid Reviews
unpaid_count = vine_unpaid_reviews_df["review_id"].count()
unpaid_count

2386061

In [29]:
# Total Number of UnPaid 5-Star Reviews
five_star_unpaid = vine_unpaid_reviews_df.loc[vine_unpaid_reviews_df["star_rating"]==5]["star_rating"].count()
five_star_unpaid

1676546

In [30]:
# Percentage of UnPaid 5-Star Reviews
unpaid_percentage=five_star_unpaid/unpaid_count * 100
unpaid_percentage

70.26417178772881